.home {
  
}

.btn-start-recording {
    background-color: red;
}

.btn-stop-recording {
    background-color: orange;
}

.btn-start-playback {
    background-color: green;
}

.btn-stop-playback {
    background-color: blue;
}